/*Body */

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  font-family: "eurostile", sans-serif;



}

/*Nav*/
a{
  font-size:2rem;
  text-align:center;
  color:white;
}
#AboutMeLink{
padding-left:3rem;
}
#ExampleWork{
padding-left:2rem;
}

/*Top*/
.Namesss{

color:#141c3a;
  text-align:center;
  height:35rem;
  color: white;
  background-image:url("Images/Birmingham.jpg");
  background-size: cover;
}

.colorop{
  background-color: rgba(0, 0, 0, 0.7);
  height:35rem;
}
.DisplayText{
text-align:center;
padding-top:10rem;
font-size:20px;

}
.MyName{
  font-variant-caps: small-caps;

   font-weight: bold;
  font-size:5rem;
}

.AboutMe{
  height:20rem;
  background-color:#4C516D;
  border-bottom-style:solid;
  border-bottom-width:2px;
  border-bottom-color:#cfd4df;
  border-top-style:solid;
  border-top-width:2px;
  border-top-color:#cfd4df;

}

#MyWorkContainer{
  background-color:white;
  height:53rem;

}

section{
  text-align:center;
}

/*OVERLAY FOR WORK*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #4C516D;

margin-left:69px;
}

.VisitOverlay:hover .overlay {
  opacity: 1;
}

.VisitOverlay{
  margin-bottom:50px;
}

.text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.VisitButton{
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}
/*----------------------------------------------------------------*/
.btn1{
  color:white;
}

#WorkTitle{
  font-variant-caps: small-caps;
  font-size:50px;
  color:#4C516D;
padding-top:20px;
padding-bottom:20px;
  text-align:center;
  font-style:italic;
   font-weight: bold;
}

#AboutMeTitle{
  color:white;
  font-variant-caps: small-caps;
  font-size:50px;
  margin-top:20px;

  text-align:center;
  font-style:italic;
 font-weight: bold;
}

#AboutMePara{
  color:white;
  margin-top:30px;
  text-align:center;
  font-size:20px;
  margin-left:200px;
  margin-right:200px;


}

#app{
  padding-bottom:10px;
}



@media only screen and (max-width: 767px) {
  #AboutMePara{
    text-align:center;
    font-size:14px;
    margin-left:0px;
    margin-right:0px;
}



#MyWorkContainer{
width:80%;
height:60rem;

}

.projects{
    text-align:center;
  font-size:14px;
}
.projects a{
  font-size:10px;
}

.MyName{
  margin-top:-90px;
  font-size:4rem;
}
.DisplayText{

font-size:15px;

}
.MyWork{
  height:30rem;
}
#AboutMeTitle{
  font-size:40px;
}
#WorkTitle{
  font-size:40px;
}

#WorkImages img{
  width:200px;
  height:100px;
}

.overlay {
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%;
  height: 100px;
  width: 220px;
  opacity: 0;
  transition: .5s ease;
  background-color: #4C516D;
  float:left;

}

.text {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.VisitButton{
  font-size:10px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}
}

/* Medium devices (landscape tablets,and desktops 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  #AboutMePara{
    text-align:center;

    margin-left:0px;
    margin-right:0px;
}

#WorkImages img{
  width:300px;
  height:200px;
}

.overlay {
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%;
  height: 200px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #4C516D;
  float:left;

}
}


/* ----------- iPad Pro ----------- */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .MyWork{
      width:100%;
      height:35rem;
      background-color: rgba(0, 0, 0, 0.9);
    }
}
