/*NAVBAR/HEADER*/

body{
  background-color:#d3d3d3;

}
p{
  letter-spacing: .25px;
}
#header{
width:100%;
height:200px;
}

footer{
color:white;
bottom:0;
height:75px;
margin-top:50px;
font-style:verdana;
border-style:none;

}

footer a{
  border-style:none;
}


/*MENU*/
#menu{
padding-top:100px;
padding-left:25%;
width:75%;
font-size:20px;
position:relative;
white-space: nowrap

}


#WeatherLogo{
width:100px;

text-align:center;
}


a{
  border-width:2px;
  border-right-style:solid;
  border-color:darkblue;
  color:white;
    font-family:verdana;
    font-style:bold;

}

#NavLogo{
border-width:0px;
}


#Logo{
  height:200px;
  width:300px;
float: left;
margin-bottom:-100px;
margin-top:10px;
margin-right:-20px;
margin-left:-20px;
position:relative;
z-index:1;

}

/*-------------------------------------------------------CONTENT-----------------------------------------------------*/


/*-------------------------------------------------------MENU1-----------------------------------------------------*/

#menu1{
  margin-left:130px;
  text-align:center;
  border-bottom:2px;
  border-bottom-style: solid;
  border-color: #428bca;


}



#menu1,p{
  font-family:verdana;
  font-size:15px;
  font-style:italic;

}

#menu1{
width:80%;
height:80%;
left:0%;

}

#Menu1Image{
  border-color:#428bca;
  border-width:2px;
  border-style:solid;
  width:60%;

}
menu1,h2{
  background-color: #428bca;
/*background: rgba(16, 119, 224, 0.56);*/
  font-weight: bold;
  font-style:italic;
  font-family: 'Montserrat', sans-serif;
  text-align:center;

}

/*-------------------------------------------------------HOMEMENU-----------------------------------------------------*/

#Homerow img{

height:200px;
width:70%;
left:15%;

position:relative;
border-color:#428bca;
border-width:2px;
border-style:solid;
}

.BackButton{
margin-left: 200px;
margin-right: 200px;


}




#HomerowExtra,p{
  font-family:verdana;
  font-size:15px;
  font-style:italic;

}


#HomerowExtra img{
height:70%;
border-color:#428bca;
border-width:2px;
border-style:solid;
}

#HomerowExtra figure, h4{
  text-align:center;
font-weight:bold;
}

.dateHome{
position:absolute;
bottom:0;
left:35%;

}
#Homerow,p{
  font-family:verdana;
  font-size:15px;
  font-style:italic;

}

#HomeHeaders{
  font-family: 'Montserrat', sans-serif;
  background-color: #428bca;
  text-align:center;
  font-weight: bold;
  font-style:italic;
  width:100%;
  height:90px;
  font-size:25px;


}

#home{
  text-align:center;

}


/*-------------------------------------------------------MENU2-----------------------------------------------------*/

#menu2{
  margin-top:10px;
  padding-top:10px;
margin-left:200px;
  text-align:left;


}


#menu2,p{
  font-family:verdana;
  font-size:15px;
  font-style:italic;

}

#menu2,img{
width:40%;
height:40%;

}

#menu2 img{
  margin-left:30%;
  border-color:#428bca;
  border-width:2px;
  border-style:solid;

}

#menu2Extrainfo img{
  height:70%;
  text-align:center;
  border-color:#428bca;
  border-width:2px;
  border-style:solid;

}
#menu2Extrainfo{
  font-family:verdana;
  font-size:15px;
  font-style:italic;
  margin-left:20px;
  margin-right:20px;
}


#menu2Extrainfo figure, h4{
  text-align:center;
font-weight:bold;
}




menu2,h4{
  background-color: #428bca;

  font-family: 'Montserrat', sans-serif;
  /*width:100%;*/
}

#menu2,hr{
  margin-right:-400px;
  border-color:#428bca;
}

/*--------------------------------------------------------MENU3/SEARCH BAR CONTENT-----------------------------------------------------*/

#menu3 p{
  font-family:verdana;
  font-size:15px;
  font-style:italic;
  text-align:center;

}

#HeadersSearched{
  font-family: 'Montserrat', sans-serif;
  background-color: #428bca;
  text-align:center;
  font-weight: bold;
  font-style:italic;
  width:100%;
  height:90px;
  font-size:25px;

}

#menu3 img{

height:200px;
width:70%;
left:15%;

position:relative;
border-color:#428bca;
border-width:2px;
border-style:solid;

}

#SearchBar{

  text-align:right;
padding-right:10px;
height:10px;

}

#menu3{

  margin-left:7%;
  margin-right:7%;
}
#SearchExtraInfo img{
height:70%;
  width:70%;
  border-color:#428bca;
  border-width:2px;
  border-style:solid;

}
#SearchExtraInfo p{
margin-left:30px;
margin-right:30px;

}
#SearchExtraInfo{
margin-left:20px;
margin-right:20px;
}

#SearchExtraInfo figure{
  text-align:center;
font-weight:bold;
}



/*-------------------------------------------------------BUTTON DIV-----------------------------------------------------*/
#ButtonDiv{

  text-align:center;
}


#NextPage{
  margin-left:5px;
margin-top:10px;
}

#PreviousPage{

margin-top:10px;
}



/*-------------------------------------------------------WEATHER PAGE-----------------------------------------------------*/
#WeatherSearchBar{
  text-align:center;
  margin-bottom:20px;
}
.WeatherImage{
  width:50px;
  height:50px;
  background-color:#428bca;
}

.footerweather{
  position:fixed;
  bottom:0;
}
#TableBody{
  border-style:solid;
  border-width:2px;
  border-color::#428bca;
}

#TableBody tr{
  text-align:center;
  font-weight:bold;

}


#Table{
width:80%;
margin-left:10%;
}

@media (min-width: 1400px){
  
  #menu1{
    margin-left:200px;
    text-align:center;


  }
  #menu2{
    margin-left:300px;
  }
}
/*MEDIA QUERIES*/
@media (min-width: 992px) and (max-width: 1300px) {


#menu{
  width:100%;
  padding-left:0px;
  font-size:15px;
}

#menu1{
  margin-left:100px;
  text-align:center;


}

#Logo{
  margin-right:2px;
}

#menu2{
  margin-left:150px;
}
.BackButton{
margin-left:100px;
margin-right:100px;
}
#HomerowExtra img{
  width:60%;
left:25%;
}
 }

 /*MEDIA QUERIES-TABLETS*/
@media (min-width: 768px) and (max-width: 991px) {
  #menu {
    font-size:15px;
    width:100%;
  padding-left:15%;
  color:red;

  }

  #header{
    width:100%;
    height:200px;



  }

  #Logo{
    height:200px;
    width:250px;
    margin-right:5px;

  }

  #menu1{
    margin-left:80px;
    text-align:center;


  }

  #menu2{
margin-left:120px;
  margin-right:10px;
  }
  #menu2 img{
    margin-left:160px;

  }

.dateHome{

left:38%;

}
#SearchExtraInfo img{
  height:250px;
}
.BackButton{
margin-left:150px;;
margin-right:150px;
}
}

 /*MEDIA QUERIES-MOBILE DEVICES*/
@media (max-width: 767px) {

    #menu {
    font-size:10px;
    width:100%;
    padding-left:45px;

margin-top:10px;
  }
  #menu .active{
    background-color: darkblue;
  }


a{

  margin-top:-40px;
  font-size:9px;
margin-left:-10px;
border-style:none;

}


  #header{
    width:100%;
    height:200px;
    border-style:none;


  }
#WelcomeTag{
  font-size:30px;
  width:100%;
}
  #Logo{
    height:60%;
    width:45%;
  margin-left:90px;
  margin-top:-30px;



 }

 #menu1{
  margin-left:40px;


 }

 #Menu1Image{
left:20%;
 }


 #menu2{
margin-left:60px;

 }
menu1,h2{
  font-size:20px;
}

#menu2,p{
  font-family:verdana;
  font-size:13px;
  font-style:italic;

}
menu2,h4{
  font-size:15px;

}


home,h3{
  font-size:15px;
}
#menu2,img{
width:60%;
height:60%;

}

#menu2 img{
  margin-left:50px;

}

#HomeHeaders{
  font-size:18px;
  height:80%;
}

.dateHome{

left:30%;

}
#HeadersSearched{
  font-size:18px;
  height:80%;
}

#menu3 img{

  height:100px;
}
#WeatherLogo{
  width:80px;
}

.BackButton{
margin-left:50px;
margin-right:50px;
}

#HomerowExtra img{
  height:200px;
}

#SearchExtraInfo img{
  height:200px;
}

#SearchBar{

  text-align:center;
  margin-left:20px;
}

@media (max-width: 320px) { /*EXTRA- REALLY SMALL OLD MOBILE DEVICE*/
#menu {

  padding-left:10px;
}
#Logo{
  margin-left:80px;
}
}
